.fullStar {
  color: #ffc107;
}
.halfStar {
  position: relative;
}
.halfStar::before {
  content: "★";
  position: absolute;
  width: calc(var(--rating) * 100%);
  overflow: hidden;
  color: #ffc107;
}
