.stars {
  display: flex;
  gap: 4px;
  font-size: 1.1rem;
}

.halfStar {
  position: relative;
}
.halfStar::before {
  content: "⭐️";
  position: absolute;
  width: calc(var(--rating) * 100%);
  overflow: hidden;
}
